<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title> 
  <link rel="stylesheet" href="{% static '/css/landing.css'%}">
</head>
<body>

<!-- particles.js container -->
<div id="particles-js">
  <a href="{% url 'Landing' %}"><img id="Logo" class="logo" src="{% static 'assets/Icon.png'%}" alt="Logo"/></a>
  <div class ="menuBG">
    <div id="Menu" class="list">
      <a href="{% url 'Home' %}" class="base-button" onclick='move(this)'>Home</a>
      <a href="{% url 'Portfolio' %}" class="base-button" onclick='move(this)'>Portfolio</a>
      <a href="{% url 'About' %}" class="base-button" onclick='move(this)'>About</a>    
      <a href="{% url 'Contact' %}" class="base-button" onclick='move(this)'>Contact</a> 
    </div>
    <a class="signInLanding base-button" href="SignIn">Sign In</a>
  </div>
</div>

<!-- scripts -->
<script src="{% static '/js/web.js'%}"></script>
<script src="{% static '/js/app.js'%}"></script>
<script src="{% static '/js/animate.js'%}"></script>

</body>
</html>