<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title> 
  <link rel="stylesheet" href="{% static '/css/web.css'%}">
</head>
<body>

<!-- particles.js container -->
<div id="particles-js">
  <div id="Menu" class="menu">
    <img class="image" src="{% static 'assets/Icon.png'%}" alt="Logo"/>
    <a href="#" class="links">Home</a>
    <a href="#" class="links">Products</a>
    {% comment %} <button id="home" class="base-button">Home</button>
    <button id="Products" class="base-button">Products</button>
    <button id="About" class="base-button">About</button>
    <button id="Contact" class="base-button">Contact</button> {% endcomment %}
  </div>
</div>

<!-- scripts -->
<script src="{% static '/js/web.js'%}"></script>
<script src="{% static '/js/app.js'%}"></script>

</body>
</html>